<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.abe.dwwd.rxretrofithttputils">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:name=".base.BaseRxHttpApplication"
        android:supportsRtl="true">

    </application>

</manifest>
